<ion-view view-title="Get Started" hide-nav-bar="true">
  <ion-content class="padding" style="background:url('img/background.png'); background-size: contain;">
    <style type="text/css">
      .red_button
      {
        color:  white;
        background: #e6296d;
        border-radius: 38px;
        font-size:  20px;
        height:  60px;
        text-align:  center;
        border: 0px;
        width:  244px;
      }
    </style>
    <div style="text-align: center; width: 100%; position: fixed; bottom: 10%;">
        <button ion-item class="red_button" ng-click="getStarted()">
          Get Started
        </button>
    </div>
  </ion-content>
</ion-view>
